@model Person

<div class="col-md-12">
    <div class="card">
        <div class="card-body" style="text-align:center;">
            <h2>You have no User. Create a user to add to a Group.</h2>
            <p>
                <a class="btn btnBlue btn-sm" asp-controller="Person" asp-action="Create"><i class="fas fa-plus-square"></i> Create User</a>
            </p>
        </div>
    </div>
    
</div>


